<%= render partial: 'layouts/navbar' %>
 <%= render partial: 'layouts/flash_errors'%>
<div class="row col-md-8 col-md-offset-2">

  <div class="row col-md-8 col-md-offset-2" id="chatrooms">
  <%= render partial: 'chatroom_form', locals: {chatroom: @chatroom} %>
  </div>
