    <%= render partial: 'layouts/navbar' %>
    <!-- Page Content -->
    <div class="container" id="second">
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Tartan Talk Privacy Policy 
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/" data-turbolinks="false">Home</a>
                    </li>
                    <li class="active">Privacy Policy</li>
                </ol>
            </div>
        </div>

        <h2> Summary </h2>

        <p> We strive to be as clear as possible about how we use your data. When you sign up for an account, the information you use to register, and no more, is recorded. For one-time accounts, this means your andrew ID is stored. For users who register via Google, only your name is stored.  Unless required by law, your information will not be shared with third parties. The details of our privacy policy are outlined below. </p> <br> <br>

        <u> Chatrooms and User Submitted Content: </u>
        <p> Content submitted by any user is visible based on the context. </p>
        <ul> 
        	<li> <b> Public Chats: </b> All content is visible. </li>
        	<li> <b> Private Chats: </b> </li>
        	<ul>
        		<li> <b> Unclaimed: </b> Counselors can see depending on whether you specified, all, peer, or professional. </li>
        		<li> <b> Claimed: </b> Only you and the counselor you’re speaking to can see the chat. </li>
        	</ul>
        	<li> <b> Emergency: </b> All staff members can see emergency chats until the emergency status is removed, then it follows the protocols above.  </li>
        	<li> <b> Anonymous Chats: </b> Only the anonymous username is shown. The names of all counselors and staff are shown regardless if a chat is anonymous or not. </li>
        	<li> <b> Non-Anonymous Chats: </b> Either your andrew ID (one-time account) or name (via Google) is shown. </li>
        </ul> <br> <br>

		<h2> Information Collection and Usage </h2> 

		<p> The personal information we collect is not shared with or sold to other organizations. <br><br>

		Your personal information stored on this website may be shared with your explicit permission or under the following circumstances:
		It becomes necessary to share your information in order to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violations of the Terms of Service, or as otherwise required by law. <br><br>

		Any additional information provided via e-mail, external communications, and/or surveys will not be shared with third parties without your consent unless stated otherwise within the communication or survey. <br><br> </p>

		<h2> Cookies </h2>

		<p> Cookies are only used to manage session information (to keep you logged in). The cookie itself only has an ID associated with the session, and the session data itself is securely stored on our servers. <br> <br> </p>

		<h2> Data Storage </h2>

		<p> Tartan Talk uses third-party vendors and hosting partners to provide the necessary hardware, software, networking, storage, and related technology required to run this application. By using this service, you consent to the transfer and storage of any information provided to this application to our infrastructure. Your Google Account is managed by Google so no passwords or other Google account information other than your name are actually stored by us. <br> <br> </p>

		<h2> Changes </h2>

		<p> Users will be notified of any changes to this privacy policy either through the application or a notice to Carnegie Mellon students via email. <br><br> </p>

		<h2> Confidentiality </h2>

		<p> All private chats with a counselor are confidential. Only you and that counselor have access, and that counselor can only reveal chat information upon getting your informed consent.  <br><br> </p>

		<h2> Questions </h2>

		<p> Any questions about this Privacy Policy should be sent to the information on our <a href="/#three" data-turbolinks="false">Contact Us page here.</a> </p>
	</div>

	










 




