<%= render partial: 'layouts/navbar' %>
<!-- Page Content -->
    <div class="container" id="second">
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Tartan Talk Terms of Service 
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/" data-turbolinks="false">Home</a>
                    </li>
                    <li class="active">Terms of Service</li>
                </ol>
            </div>
        </div>

        <h2> Summary: </h2>
		<p>Users of this system should be Carnegie Mellon students. Hateful and vulgar content will not be tolerated; this is platform for students to seek counsel, support, and guidance during stressful, lonely, or otherwise difficult times. 
		You may terminate your account through your account settings, but any chatrooms you make will still be in the system (though they will be inaccessible by other users except for any users who were involved in those chats). 
		You’re responsible for your own actions, and while we do our best to ensure content remains friendly, if you see anything inappropriate from either another user or a staff member, please contact us. </p> <br><br>

		<h2> Confidentiality </h2>
		<p>All chatrooms with a dedicated counselor are confidential. Only you and that counselor have access, and that counselor can only reveal chat information upon getting your informed consent. </p> <br><br>

		<p> By using the Tartan Talk web site ("Service"), or any services of the Tartan Talk organization ("Tartan Talk"), you are agreeing to be bound by the following terms and conditions ("Terms of Service"). IF YOU ARE ENTERING INTO THIS AGREEMENT ON BEHALF OF A COMPANY OR OTHER LEGAL ENTITY, YOU REPRESENT THAT YOU HAVE THE AUTHORITY TO BIND SUCH ENTITY, ITS AFFILIATES AND ALL USERS WHO ACCESS OUR SERVICES THROUGH YOUR ACCOUNT TO THESE TERMS AND CONDITIONS, IN WHICH CASE THE TERMS "YOU" OR "YOUR" SHALL REFER TO SUCH ENTITY, ITS AFFILIATES AND USERS ASSOCIATED WITH IT. IF YOU DO NOT HAVE SUCH AUTHORITY, OR IF YOU DO NOT AGREE WITH THESE TERMS AND CONDITIONS, YOU MUST NOT ACCEPT THIS AGREEMENT AND MAY NOT USE THE SERVICES.  <br><br>

		Any changes to these terms will be announced through an in-application announcement or via e-mail to Carnegie Mellon Students. New features and services for this application are subject to the Terms of Service. <br><br>

		Violation of the terms below may result in the suspension or termination of your Account. While the content prohibited per these terms may not be condoned, moderation cannot be responsible for the Content posted on the Service and you nonetheless may be exposed to such materials. You agree to use the Service at your own risk. <br><br> </p>

		<h2> Account Terms </h2> 
		
		<ul> 
			<li> <p> You must be 16 years or older and be a current student at Carnegie Mellon Universityto use this Service. </p> </li>
			<li> <p> You must be human. Accounts registered through automated methods, such as “bots”, are not permitted. </p></li>
			<li> <p> You must provide the requested information presented at registration to have an account. </p></li>
			<li> <p> You are responsible for maintaining the security of your account and password. This Service is not liable for any loss or damage from your failure to comply with this security obligation, despite our best efforts to keep your login information secured using industry-standard methods. Users will be notified if any login data is found or suspected to be compromised and must follow the procedures given to change the information, as this Service will not be liable for damages incurred from ignoring those procedures. </p> </li>
			<li> <p> You are responsible for all Content posted and activity that occurs under your account. </p> </li>
			<li> <p> You may not use the Service for any illegal or unauthorized purpose. You must not, in the use of this Service, violate any laws in your jurisdiction (including but not limited to copyright or trademark laws). </p> </li>
		 
		</ul>
		
		<h2> Community Guidelines </h2> 

		<p>You agree, through your use of this Service, that you will not use this Service to post any material which is knowingly false and/or defamatory, inaccurate, abusive, vulgar, hateful, harassing, obscene, profane, sexually oriented, threatening, invasive of a person's privacy, or otherwise in violation of any law. <br><br>

		Pornography, racist, sexist, discriminatory, prejudice, and illegal content are not allowed on this Service. Violators will have their accounts terminated. <br><br>

		We aim to provide a vibrant community where users can connect with others to get jobs done. We ask all users to treat each other with respect. Moderation may issue warnings via e-mail or take any other disciplinary actions deemed necessary for content posted. Appeals to moderator decisions can be submitted via the Contact Us page. <br><br>

		We aim to provide a vibrant community where students can seek out support during hard times. We ask all users to treat each other with respect. Moderation may issue warnings via e-mail or take any other disciplinary actions deemed necessary for content posted. 
		<br><br> </p>

		<h2> Account Termination </h2> 
		<p> You are solely responsible for properly cancelling your account. An email using the contact information for the Service must be used to request cancellation. You may request via e-mail to have your account reactivated, provided there is an archive of it; however, the Service is not obligated to reactive any accounts.<br><br> 

		Upon account termination, your user account, information related to your user account, and chatrooms will be inaccessible. However, records such as chatrooms will remain in our system in order to comply with any legal or judicial process. <br><br>

		In its sole discretion, this Service has the right to suspend or terminate your account and refuse any and all current or future use of the Service, for any reason at any time. <br><br>

		Termination requests, along with any questions or comments can be submitted by viewing the  <a href="/#three" data-turbolinks="false">Contact Us page here.</a>  </p>
	</div>





