

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

html {
  height: 100%;
}
body {
  overflow-x: hidden;
  line-height: 1;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
}
#footer a {
     color: #595959
}

td, th{
  padding-left: 50px;
  width: 4rem;
  height: 2rem;
  text-align: center;
}

td.style2, th.style2 {
  border: 1px solid #ccc;
}
th.style2 {
  background: #a1ecdd;
  border-color: white;
}

/* Box Model */

  *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

/* hr styles */
hr.style1{
  border-top: 1px solid #8c8b8b;
}


hr.style2 {
  border-top: 3px double #8c8b8b;
}

hr.style3 {
  border-top: 1px dashed #8c8b8b;
}

hr.style4 {
  border-top: 1px dotted #8c8b8b;
}

hr.style5 {
  background-color: #fff;
  border-top: 2px dashed #8c8b8b;
}


hr.style6 {
  background-color: #fff;
  border-top: 2px dotted #8c8b8b;
}

hr.style7 {
  border-top: 1px solid #8c8b8b;
  border-bottom: 1px solid #fff;
}


hr.style8 {
  border-top: 1px solid #8c8b8b;
  border-bottom: 1px solid #fff;
}
hr.style8:after {
  content: '';
  display: block;
  margin-top: 2px;
  border-top: 1px solid #8c8b8b;
  border-bottom: 1px solid #fff;
}

hr.style9 {
  border-top: 1px dashed #8c8b8b;
  border-bottom: 1px dashed #fff;
}

hr.style10 {
  border-top: 1px dotted #8c8b8b;
  border-bottom: 1px dotted #fff;
}


hr.style11 {
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8b8b inset;
}


hr.style12 { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}


hr.style13 {
  border-top: 4px double #8c8b8b;
  text-align: center;
}
hr.style13:after {
  content: '\002665';
  display: inline-block;
  position: relative;
  top: -15px;
  padding: 0 10px;
  background: white;
  color: #8c8b8b;
  font-size: 18px;
}

hr.style14 { 
  border-top: 1px dashed #8c8b8b; 
} 
hr.style14:after { 
  content: '\002702'; 
  display: inline-block; 
  position: relative; 
  top: -12px; 
  left: 40px; 
  padding: 0 3px; 
  background: white; 
  color: #8c8b8b; 
  font-size: 18px; 
}


hr.style15 {
  border-top: 1px solid #8c8b8b;
  text-align: center;
}
hr.style15:after {
  content: '§';
  display: inline-block;
  position: relative;
  top: -14px;
  padding: 0 10px;
  background: white;
  color: #8c8b8b;
  font-size: 18px;
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  transform: rotate(60deg);
}


hr.style16 { 
  height: 30px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
} 
hr.style16:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}

/* jumbotron styling */

.jumbotron{
  border-radius: 16px 16px 16px 16px;
  -moz-border-radius: 16px 16px 16px 16px;
  -webkit-border-radius: 16px 16px 16px 16px;
background: #d4f7ef
}

/*  btn styling */

.btn-primary {
  background: #312251;
  background-image: -webkit-linear-gradient(top, #312251, #716278);
  background-image: -moz-linear-gradient(top, #312251, #716278);
  background-image: -ms-linear-gradient(top, #312251, #716278);
  background-image: -o-linear-gradient(top, #312251, #716278);
  background-image: linear-gradient(to bottom, #312251, #716278);
  -webkit-border-radius: 17;
  -moz-border-radius: 17;
  border-radius: 17px;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn-primary:hover {
  background: #312251;
  text-decoration: none;
}

.btn-blue {
  background: #72cfee;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn-blue:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #72cfee, #93e8f5);
  background-image: -moz-linear-gradient(top, #72cfee, #93e8f5);
  background-image: -ms-linear-gradient(top, #72cfee, #93e8f5);
  background-image: -o-linear-gradient(top, #72cfee, #93e8f5);
  background-image: linear-gradient(to bottom, #72cfee, #93e8f5);
  text-decoration: none;
}

.btn-pink {
  background: #eb8a93;
  background-image: -webkit-linear-gradient(top, #eb8a93, #c7858c);
  background-image: -moz-linear-gradient(top, #eb8a93, #c7858c);
  background-image: -ms-linear-gradient(top, #eb8a93, #c7858c);
  background-image: -o-linear-gradient(top, #eb8a93, #c7858c);
  background-image: linear-gradient(to bottom, #eb8a93, #c7858c);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn-pink:hover {
  background: #eb8a93;
  text-decoration: none;
  background-image: -webkit-linear-gradient(top, #eb8a93, #ebb4ab);
  background-image: -moz-linear-gradient(top, #eb8a93, #ebb4ab);
  background-image: -ms-linear-gradient(top, #eb8a93, #ebb4ab);
  background-image: -o-linear-gradient(top, #eb8a93, #ebb4ab);
  background-image: linear-gradient(to bottom, #eb8a93, #ebb4ab);
}

.btn-green {
  background: #a1ecdd;
  background-image: -webkit-linear-gradient(top, #a1ecdd, #c1fcfo);
  background-image: -moz-linear-gradient(top, #a1ecdd, #c1fcfo);
  background-image: -ms-linear-gradient(top, #a1ecdd, #c1fcfo);
  background-image: -o-linear-gradient(top, #a1ecdd, #c1fcfo);
  background-image: linear-gradient(to bottom, #a1ecdd, #c1fcfo);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn-green:hover {
  background: #a1ecdd;
  background-image: -webkit-linear-gradient(top, #a1ecdd, #55a192);
  background-image: -moz-linear-gradient(top, #a1ecdd, #55a192);
  background-image: -ms-linear-gradient(top, #a1ecdd, #55a192);
  background-image: -o-linear-gradient(top, #a1ecdd, #55a192);
  background-image: linear-gradient(to bottom, #a1ecdd, #55a192);
  text-decoration: none;
}''
.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all .5s;
}
.btn-primary.btn-outline {
  color: #428bca;
}
.btn-success.btn-outline {
  color: #5cb85c;
}
.btn-info.btn-outline {
  color: #5bc0de;
}
.btn-warning.btn-outline {
  color: #f0ad4e;
}
.btn-danger.btn-outline {
  color: #d9534f;
}
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: white;
}

/*  tab navbar styling */

.nav-tabs{
  background-color:#312251;
  border-radius: 24px 24px 24px 24px;
-moz-border-radius: 24px 24px 24px 24px;
-webkit-border-radius: 24px 24px 24px 24px;
border: 3px hidden #000000;
}
.tab-content{
    color:black;
    padding:2%
}
.nav-tabs > li > a{
  border: medium none;
  color: white;
}
.nav-tabs > li > a:hover{
  background-color: #f2f2f2 !important;
    border: medium none;
    border-radius: 0;
    color:#fff;
}

/*  well styling */

.well{
    background: #CEE6E1;
    text-align: center;
    border-color: none;
    font-size: 18px;
    margin-top: 2%;
    margin-right: 5%;
    padding: 10%;
-webkit-box-shadow: 7px 17px 29px -11px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 17px 29px -11px rgba(0,0,0,0.75);
box-shadow: 7px 17px 29px -11px rgba(0,0,0,0.75);
border-radius: 0px 0px 0px 0px;
-moz-border-radius: 0px 0px 0px 0px;
-webkit-border-radius: 0px 0px 0px 0px;
border: 9px double #f5f0f5;
}

.well-two{
    width: 100%;
    background-color: #CEE6E1;
    border-color: none;
    font-size: 18px;
    margin-top: 5px;
    margin-right: 5%;
-webkit-box-shadow: 7px 17px 29px -11px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 17px 29px -11px rgba(0,0,0,0.75);
box-shadow: 7px 17px 29px -11px rgba(0,0,0,0.75);
border-radius: 11px 29px 29px 14px;
-moz-border-radius: 11px 29px 29px 14px;
-webkit-border-radius: 11px 29px 29px 14px;
border: 3px double #f5f2f5;
}


/*  panel styling  */

.panel{
  box-shadow: 0 0 1px black
}

.panel-main {
  border-color: #808080;
  box-shadow: 0 0 2px black;
  text-align: center;
}
.panel-main > .panel-heading {
  background: #eb8a93;
  border: 2px solid #f2f2f2;
  color: #f2f2f2;
  text-align: center;
  font-size: 50px;
}
.panel-main > a {
  color: #312251;
}
.panel-main > a:hover {
  color: #3d8b3d;
}

.panel-login {
  border-color: #e6e6e6;
  border-radius: 5px;
  min-height: 325px;
  box-shadow: 0 0 5px black;
  padding: 2%;
}
.panel-login > .panel-heading {
  background: #d4f7ef;
  color: #4A4A4A;
  font-size: 50px;
}
.panel-login > a {
  color: #312251;
}
.panel-login > a:hover {
  color: #3d8b3d;
}

.panel-profile {
  border-color: #e6e6e6;
  border-radius: 5px;
  min-height: 325px;
  padding: 2%;
background: rgba(184,224,216,1);
background: -moz-linear-gradient(-45deg, rgba(184,224,216,1) 0%, rgba(184,224,216,1) 4%, rgba(145,232,215,1) 17%, rgba(145,232,215,1) 32%, rgba(163,225,210,1) 46%, rgba(163,225,210,1) 59%, rgba(145,232,215,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(184,224,216,1)), color-stop(4%, rgba(184,224,216,1)), color-stop(17%, rgba(145,232,215,1)), color-stop(32%, rgba(145,232,215,1)), color-stop(46%, rgba(163,225,210,1)), color-stop(59%, rgba(163,225,210,1)), color-stop(100%, rgba(145,232,215,1)));
background: -webkit-linear-gradient(-45deg, rgba(184,224,216,1) 0%, rgba(184,224,216,1) 4%, rgba(145,232,215,1) 17%, rgba(145,232,215,1) 32%, rgba(163,225,210,1) 46%, rgba(163,225,210,1) 59%, rgba(145,232,215,1) 100%);
background: -o-linear-gradient(-45deg, rgba(184,224,216,1) 0%, rgba(184,224,216,1) 4%, rgba(145,232,215,1) 17%, rgba(145,232,215,1) 32%, rgba(163,225,210,1) 46%, rgba(163,225,210,1) 59%, rgba(145,232,215,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(184,224,216,1) 0%, rgba(184,224,216,1) 4%, rgba(145,232,215,1) 17%, rgba(145,232,215,1) 32%, rgba(163,225,210,1) 46%, rgba(163,225,210,1) 59%, rgba(145,232,215,1) 100%);
background: linear-gradient(135deg, rgba(184,224,216,1) 0%, rgba(184,224,216,1) 4%, rgba(145,232,215,1) 17%, rgba(145,232,215,1) 32%, rgba(163,225,210,1) 46%, rgba(163,225,210,1) 59%, rgba(145,232,215,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8e0d8', endColorstr='#91e8d7', GradientType=1 );
}

.panel-profile > a {
  color: #312251;
}
.panel-profile> a:hover {
  color: #3d8b3d;
}



/*  end of css modified from admin template */


/* nav and side bar content */
@media (max-width: 768px){
    .navbar-fixed-side{
        margin-left:-15px;
        margin-right:-15px
    }
}

@media (min-width: 768px){
    .navbar-fixed-side{
        position:fixed;
        margin:0 -15px;
        height:100vh;
        width:inherit;
        overflow:auto;
        border-top-width:0;
        border-bottom-width:0;
        border-radius:0
    }
    .navbar-fixed-side .container,.navbar-fixed-side .container-fluid{
        width:auto;
        padding-left:0;
        padding-right:0
    }
    .navbar-fixed-side .navbar-header{
        float:none
    }
    .navbar-fixed-side .navbar-brand{
        height:auto
    }
    .navbar-fixed-side>.container .navbar-brand,.navbar-fixed-side>.container-fluid .navbar-brand{
        margin-left:0
    } 
   .navbar-fixed-side .navbar-collapse{
    width:100%;
    border-top:1px solid #e7e7e7
    }
    .navbar-fixed-side .navbar-nav{
        float:none;
        margin:0 -15px
    }

    .navbar-fixed-side .navbar-nav>li{
        float:none
    }

    .navbar-fixed-side .navbar-nav>li>a{
        padding-top:10px;
        padding-bottom:10px;
        border-bottom:1px solid #e7e7e7
    }

    .navbar-fixed-side .navbar-form{
        margin:0;
        margin-left:-15px;
        margin-right:-15px;
        padding:10px 15px;
        border-bottom:1px solid #e7e7e7
    }
    .navbar-fixed-side .navbar-text{
        float:none;
        margin-left:0;
        margin-right:0
    }
    .navbar-fixed-side .navbar-left,.navbar-fixed-side .navbar-right{
        float:none !important
    }
    .navbar-fixed-side .navbar-nav .dropdown-menu{
        position:static;
        float:none;
        width:auto;
        margin-top:0;
        background-color:transparent;
        border:0;box-shadow:none;
        border-bottom:1px solid #e7e7e7
    }
    .navbar-fixed-side .navbar-nav .dropdown-menu>li>a,.navbar-fixed-side .navbar-nav .dropdown-menu .dropdown-header{
        padding:5px 15px 5px 25px
    }
    .navbar-fixed-side .navbar-nav .dropdown-menu>li>a{
        line-height:20px;color:#777
    }
    .navbar-fixed-side .navbar-nav .dropdown-menu>li>a:hover,.navbar-fixed-side .navbar-nav .dropdown-menu>li>a:focus{
        background-image:none
    }
    .navbar-fixed-side .navbar-nav .dropdown-menu>.active>a{
        background-color:#e7e7e7;
        color:#555
    }
    .navbar-fixed-side .navbar-nav>li>a:hover,.navbar-fixed-side .navbar-nav>li>a:focus,.navbar-fixed-side .navbar-nav .dropdown-menu>li>a:hover,.navbar-fixed-side .navbar-nav .dropdown-menu>li>a:focus{
        background-color:#f0f0f0;
        color:#333
    }
    .navbar-fixed-side .dropdown>.dropdown-toggle,.navbar-fixed-side .dropdown-menu>.dropdown-header{
        background-color:transparent !important;
        color:#9d9d9d !important;
        cursor:default;
        font-size:0.8em;
        text-transform:uppercase;
        border-bottom:none;
        padding-bottom:0
    }
    .navbar-fixed-side .dropdown-toggle .caret{
        display:none
    }
    .navbar-fixed-side .dropdown-menu{
        display:block
    }
    .navbar-fixed-side.navbar-inverse .navbar-collapse,.navbar-fixed-side.navbar-inverse .navbar-nav>li>a,.navbar-fixed-side.navbar-inverse .navbar-form,.navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu{
        border-color:#363636
    }
    .navbar-fixed-side.navbar-inverse .divider{
        background-color:#363636
    }
    .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu>li>a{
        color:#9d9d9d
    }
    .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu>.active>a{
        background-color:#090909;
        color:#fff
    }
    .navbar-fixed-side.navbar-inverse .navbar-nav>li:not(.active)>a:hover,.navbar-fixed-side.navbar-inverse .navbar-nav>li:not(.active)>a:focus,.navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu>li:not(.active)>a:hover,.navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu>li:not(.active)>a:focus{
        background-color:#2f2f2f;
        color:#fff
    }
    .navbar-fixed-side.navbar-inverse .dropdown>.dropdown-toggle{
        color:#777777 !important
    }
}



