body {
    overflow-x: hidden;
    margin-bottom:50px;
    color: rgba(255, 255, 255, 1);
    background-color: white;
    color: #4A4A4A;

}
.jumbotron{
  border-radius: 16px 16px 16px 16px;
  -moz-border-radius: 16px 16px 16px 16px;
  -webkit-border-radius: 16px 16px 16px 16px;
background: #CEE6E1
}
.btn-primary {
    background: #312251;
    border-color: white;
    text-align: center;
    display:block; /* change this from inline-block */
    width: auto; /* setting the width */
    margin:0 auto; /* this will center  it */
    position:relative;
}

.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all .5s;
}
.btn-primary.btn-outline {
  color: #428bca;
}
.btn-success.btn-outline {
  color: #5cb85c;
}
.btn-info.btn-outline {
  color: #5bc0de;
}
.btn-warning.btn-outline {
  color: #f0ad4e;
}
.btn-danger.btn-outline {
  color: #d9534f;
}
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: white;
}
.nav-tabs{
  background-color:#312251;
  border-radius: 24px 24px 24px 24px;
-moz-border-radius: 24px 24px 24px 24px;
-webkit-border-radius: 24px 24px 24px 24px;
border: 3px hidden #000000;
}
.tab-content{
    color:black;
    padding:2%
}
.nav-tabs > li > a{
  border: medium none;
  color: white;
}
.nav-tabs > li > a:hover{
  background-color: #303136 !important;
    border: medium none;
    border-radius: 0;
    color:#fff;
}
.well{
    background: #CEE6E1;
    text-align: center;
    border-color: none;
    font-size: 18px;
    margin-top: 2%;
    margin-right: 5%;
    padding: 10%;
-webkit-box-shadow: 7px 17px 29px -11px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 17px 29px -11px rgba(0,0,0,0.75);
box-shadow: 7px 17px 29px -11px rgba(0,0,0,0.75);
border-radius: 0px 0px 0px 0px;
-moz-border-radius: 0px 0px 0px 0px;
-webkit-border-radius: 0px 0px 0px 0px;
border: 9px double #f5f0f5;
}

.well-two{
    width: 100%;
    background: #CEE6E1;
    border-color: none;
    font-size: 18px;
    margin-top: 2%;
    margin-right: 5%;
    padding: 10%;
-webkit-box-shadow: 7px 17px 29px -11px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 17px 29px -11px rgba(0,0,0,0.75);
box-shadow: 7px 17px 29px -11px rgba(0,0,0,0.75);
border-radius: 11px 29px 29px 14px;
-moz-border-radius: 11px 29px 29px 14px;
-webkit-border-radius: 11px 29px 29px 14px;
border: 3px double #f5f2f5;
}

.chat {
  margin: 0;
  padding: 0;
  list-style: none;
}
.chat li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #999999;
}
.chat li.left .chat-body {
  margin-left: 60px;
}
.chat li.right .chat-body {
  margin-right: 60px;
}
.chat li .chat-body p {
  margin: 0;
}
.panel .slidedown .glyphicon,
.chat .glyphicon {
  margin-right: 5px;
}
.chat-panel .panel-body {
  height: 350px;
  overflow-y: scroll;
}
.panel{
    margin: 2%;
    padding: 2%;
}


.panel-main {
  border-color: white
  box-shadow: 0 0 15px black;

}
.panel-main > .panel-heading {
  background: #CEE6E1;
  border: 2px solid #D8D8D8;
  color: #4A4A4A;
  text-align: center;
  font-size: 50px;
}
.panel-main > a {
  color: #312251;
}
.panel-main > a:hover {
  color: #3d8b3d;
}
.panel-red {
  border-color: #d9534f;
}

.panel-login {
  border-color: #e6e6e6;
  border-radius: 5px;
  min-height: 325px;
}
.panel-login > .panel-heading {
  background:   #CEE6E1;
  color: #4A4A4A;
  font-size: 50px;
}
.panel-login > a {
  color: #312251;
}
.panel-login > a:hover {
  color: #3d8b3d;
}
.panel-red {
  border-color: #d9534f;
}
.panel-red > .panel-heading {
  border-color: #d9534f;
  color: white;
  background-color: #d9534f;
}
.panel-red > a {
  color: #d9534f;
}
.panel-red > a:hover {
  color: #b52b27;
}
.panel-yellow {
  border-color: #f0ad4e;
}
.panel-yellow > .panel-heading {
  border-color: #f0ad4e;
  color: white;
  background-color: #f0ad4e;
}
.panel-yellow > a {
  color: #f0ad4e;
}
.panel-yellow > a:hover {
  color: #df8a13;
}
#footer{
    position:fixed;
    height:50px;
    background-color:grey;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
}

/*  end of css modified from admin template */

#footer a{
    color: white;
}

/* nav and side bar content */
@media (max-width: 768px){
    .navbar-fixed-side{
        margin-left:-15px;
        margin-right:-15px
    }
}

@media (min-width: 768px){
    .navbar-fixed-side{
        position:fixed;
        margin:0 -15px;
        height:100vh;
        width:inherit;
        overflow:auto;
        border-top-width:0;
        border-bottom-width:0;
        border-radius:0
    }
    .navbar-fixed-side .container,.navbar-fixed-side .container-fluid{
        width:auto;
        padding-left:0;
        padding-right:0
    }
    .navbar-fixed-side .navbar-header{
        float:none
    }
    .navbar-fixed-side .navbar-brand{
        height:auto
    }
    .navbar-fixed-side>.container .navbar-brand,.navbar-fixed-side>.container-fluid .navbar-brand{
        margin-left:0
    } 
   .navbar-fixed-side .navbar-collapse{
    width:100%;
    border-top:1px solid #e7e7e7
    }
    .navbar-fixed-side .navbar-nav{
        float:none;
        margin:0 -15px
    }
    .navbar-fixed-side .navbar-nav>li{
        float:none
    }
    .navbar-fixed-side .navbar-nav>li>a{
        padding-top:10px;
        padding-bottom:10px;
        border-bottom:1px solid #e7e7e7
    }
    .navbar-fixed-side .navbar-form{
        margin:0;
        margin-left:-15px;
        margin-right:-15px;
        padding:10px 15px;
        border-bottom:1px solid #e7e7e7
    }
    .navbar-fixed-side .navbar-text{
        float:none;
        margin-left:0;
        margin-right:0
    }
    .navbar-fixed-side .navbar-left,.navbar-fixed-side .navbar-right{
        float:none !important
    }
    .navbar-fixed-side .navbar-nav .dropdown-menu{
        position:static;
        float:none;
        width:auto;
        margin-top:0;
        background-color:transparent;
        border:0;box-shadow:none;
        border-bottom:1px solid #e7e7e7
    }
    .navbar-fixed-side .navbar-nav .dropdown-menu>li>a,.navbar-fixed-side .navbar-nav .dropdown-menu .dropdown-header{
        padding:5px 15px 5px 25px
    }
    .navbar-fixed-side .navbar-nav .dropdown-menu>li>a{
        line-height:20px;color:#777
    }
    .navbar-fixed-side .navbar-nav .dropdown-menu>li>a:hover,.navbar-fixed-side .navbar-nav .dropdown-menu>li>a:focus{
        background-image:none
    }
    .navbar-fixed-side .navbar-nav .dropdown-menu>.active>a{
        background-color:#e7e7e7;
        color:#555
    }
    .navbar-fixed-side .navbar-nav>li>a:hover,.navbar-fixed-side .navbar-nav>li>a:focus,.navbar-fixed-side .navbar-nav .dropdown-menu>li>a:hover,.navbar-fixed-side .navbar-nav .dropdown-menu>li>a:focus{
        background-color:#f0f0f0;
        color:#333
    }
    .navbar-fixed-side .dropdown>.dropdown-toggle,.navbar-fixed-side .dropdown-menu>.dropdown-header{
        background-color:transparent !important;
        color:#9d9d9d !important;
        cursor:default;
        font-size:0.8em;
        text-transform:uppercase;
        border-bottom:none;
        padding-bottom:0
    }
    .navbar-fixed-side .dropdown-toggle .caret{
        display:none
    }
    .navbar-fixed-side .dropdown-menu{
        display:block
    }
    .navbar-fixed-side.navbar-inverse .navbar-collapse,.navbar-fixed-side.navbar-inverse .navbar-nav>li>a,.navbar-fixed-side.navbar-inverse .navbar-form,.navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu{
        border-color:#363636
    }
    .navbar-fixed-side.navbar-inverse .divider{
        background-color:#363636
    }
    .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu>li>a{
        color:#9d9d9d
    }
    .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu>.active>a{
        background-color:#090909;
        color:#fff
    }
    .navbar-fixed-side.navbar-inverse .navbar-nav>li:not(.active)>a:hover,.navbar-fixed-side.navbar-inverse .navbar-nav>li:not(.active)>a:focus,.navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu>li:not(.active)>a:hover,.navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu>li:not(.active)>a:focus{
        background-color:#2f2f2f;
        color:#fff
    }
    .navbar-fixed-side.navbar-inverse .dropdown>.dropdown-toggle{
        color:#777777 !important
    }
}



