<div style="background: #cccccc; padding-top: 20px; padding-bottom: 10px">
<div class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-4 col-md-offset-4">
	<center>
		<footer id= "footer" style="color:#312251;background: none">
			<a href="/" data-turbolinks="false">Home</a> &nbsp;&nbsp;::&nbsp;&nbsp;	
			<a href="/faq">FAQ</a> &nbsp;&nbsp;::&nbsp;&nbsp;	
			<a href="/#three" data-turbolinks="false">Contact Us</a> &nbsp;&nbsp;::&nbsp;&nbsp;
			<a href="/terms">Terms of Service</a> &nbsp;&nbsp;::&nbsp;&nbsp;
			<a href="/privacy">Privacy Policy</a> &nbsp;&nbsp;::&nbsp;&nbsp;
			<a href="#">Apply to be a Peer Counselor</a> &nbsp;&nbsp;::&nbsp;&nbsp;
			<br>
			<div id="copy">
				<p>	Webmaster: <%= mail_to("example@example.gov", "Tartan Talk Administration", encode: "javascript") %> 
				&nbsp;&nbsp;&copy 2016 </p>
			</div>
		</footer>
	</center>
</div>
</div>